<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright 2010-2023 by David A. Parker <parker.david.a@gmail.com>

This file is part of CheckValve, an HLDS/SRCDS query app for Android.

CheckValve is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation.

CheckValve is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with the CheckValve source code.  If not, see
<http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    android:versionCode="36"
    android:versionName="2.0.14" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/checkvalveTheme" >
        <activity
            android:name=".CheckValve"
            android:exported="true"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddServerActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/checkvalveTheme_Dialog" />
        <activity
            android:name=".ManageServersActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".EditServerActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/checkvalveTheme_Dialog" />
        <activity
            android:name=".ShowPlayersActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/checkvalveTheme_Dialog" />
        <activity
            android:name=".PlayerSearchActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/checkvalveTheme_Dialog" />
        <activity
            android:name=".SearchPlayersActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".RconActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".RconPasswordActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/checkvalveTheme_Dialog" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/checkvalveTheme_Dialog" />
        <activity
            android:name=".ChatViewerActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".ChatRelayDetailsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/checkvalveTheme_Dialog" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".ShowNoteActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden"
            android:theme="@style/checkvalveTheme_Dialog" />
        <activity
            android:name=".DebugConsoleActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".CreateBackupActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".RestoreBackupActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity
            android:name=".backup.FileChooserActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        
        <receiver android:name=".BootCompletedReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".BackgroundQueryService"
            android:exported="false" />

        <service
            android:name=".BackgroundJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>